@media (max-width: 1000px) {
  article {
    font-size: x-small;
    border: black;
    padding: 1em;
    display: -ms-grid;
    display: grid;
    border-bottom: 5px dashed lightgray;
    border-width: thin;
  }
  article h1 {
    font-size: small;
    margin: 0em 0em;
  }
  article img {
    width: 100%;
    margin: 0.5em 0em;
  }
  article p {
    font-size: x-small;
    margin: 0em 0em;
  }
}

@media (min-width: 1000px) {
  article {
    font-size: medium;
    border: black;
    padding: 2em;
    display: -ms-grid;
    display: grid;
    padding-bottom: 1em;
    border-bottom: 5px dashed lightgray;
    border-width: medium;
  }
  article h1 {
    font-size: large;
    margin: 0em 0em;
  }
  article img {
    width: 100%;
    margin: 0.5em 0em;
  }
  article p {
    font-size: medium;
    margin: 0em 0em;
  }
}

@media (max-aspect-ratio: 3 / 2) {
  #feed {
    margin-top: -26.6vw;
    overflow-x: hidden;
    height: 100%;
    background-color: white;
    width: 38vw;
    margin-left: 48vw;
    -ms-overflow-style: none;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: skew(2deg, 0deg);
            transform: skew(2deg, 0deg);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  #feed::-webkit-scrollbar {
    display: none;
  }
  #rol {
    margin-left: 8vw;
    width: 78vw;
    height: 52vw;
    border-radius: 39vw/100%;
    background-color: white;
    display: inline-block;
  }
  #rol-side {
    background-color: lightgrey;
    border-radius: 100%/100%;
    width: 39vw;
    height: 100%;
    display: inline-block;
  }
  #inside {
    margin-left: 11.7vw;
    margin-top: 15.6vw;
    background-color: darkgrey;
    border-radius: 100%/100%;
    height: 20.8vw;
    width: 15.6vw;
    display: inline-block;
  }
  #wc-rol {
    margin-top: 8vw;
    height: 100vh;
    padding: 0vw;
    display: inline-block;
  }
}

body {
  background-color: #17bdbd;
  font: 21px/1.2 "Forma DJR Micro",Helvetica,Arial,sans-serif;
  color: #16284a;
  margin: 0em;
  padding: 0em;
}

@media (min-aspect-ratio: 3 / 2) {
  #feed {
    margin-top: -40vh;
    overflow-x: hidden;
    height: 50vh;
    background-color: #fff;
    width: 60vh;
    margin-left: 60vh;
    -ms-overflow-style: none;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: skew(2deg, 0deg);
            transform: skew(2deg, 0deg);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  #feed::-webkit-scrollbar {
    display: none;
  }
  #rol {
    width: 120vh;
    height: 80vh;
    border-radius: 50%/100%;
    background-color: white;
    display: inline-block;
  }
  #rol-side {
    background-color: lightgrey;
    border-radius: 100%/100%;
    width: 60vh;
    height: 100%;
    display: inline-block;
  }
  #inside {
    margin-left: 30%;
    margin-top: 24vh;
    background-color: darkgrey;
    border-radius: 100%/100%;
    height: 32vh;
    width: 24vh;
    display: inline-block;
  }
  #wc-rol {
    margin-top: 10vh;
    margin-left: 15vw;
    height: 90vh;
    padding: 0vw;
    display: inline-block;
  }
}
/*# sourceMappingURL=tp-style.css.map */